<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>My Profile</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">MySite</a>
		    </div>

		    <div class="d-flex justify-content-end">
		    	 <div class="collapse navbar-collapse">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/posts/all}">
								<button class="btn btn-success" type="button">News</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profiles}"> 
								 <button class="btn btn-success" type="button">Users</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/logout}"> 
								 <button class="btn btn-danger" type="button">Log Out</button>
							</a>
						</li>
					</ul>
			    </div>
		    </div>
		  </div>
		</nav>

		<div class="container">
			<h1>Your Profile</h1>

			<br>

			<div th:if="${role.equals('ROLE_ADMIN')}">
				<p class="admin">Admin</p>
			</div>

			<div th:if="${role.equals('ROLE_SUPERADMIN')}">
				<p class="superadmin">SuperAdmin</p>
			</div>

			<h2 th:text="${'Username: ' + user.getUsername()}"></h2>
			<p th:text="${'Email: ' + user.getEmail()}"></p>

			<br>

			<div>
				<a th:href="@{/posts/create}">
					<button class="btn btn-primary">Create Post</button>
				</a>
			</div>

			<br>


			<div>
				<a th:href="@{/profile/edit/{username}(username = ${user.getUsername()})}">
					<button class="btn btn-primary">Edit My Profile</button>
				</a>
			</div>
		</div>
	</body>
</html>