<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">MySite</a>
		    </div>

		    <div class="d-flex justify-content-end">
		    	 <div class="collapse navbar-collapse">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/posts/all}">
								<button class="btn btn-success" type="button">News</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/myprofile}"> 
								 <button class="btn btn-success" type="button">My Page</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profiles}"> 
								 <button class="btn btn-success" type="button">Users</button>
							</a>
						</li>
					</ul>
			    </div>
		    </div>
		  </div>
		</nav>
		
		<div class="container">
			<form method="post" th:action="@{/profile/edit_as_admin/{username}(username = ${userEditingForm.getUsername()})}" th:object="${userEditingForm}">
				<h1>Edit Profile</h1>
				
				<label for="username">Username</label>
				<input class="form-control" type="text" name="username" id="username" th:field="*{username}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
				
				<label for="email">Email</label>
				<input class="form-control" type="email" name="email" id="email" th:field="*{email}">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

				<button class="btn btn-success" type="success">Edit</button>
			</form>

			<br>

			<form method="post" th:action="@{/profile/delete/{username}(username = ${userEditingForm.getUsername()})}">
				<button class="btn btn-danger" type="success">Delete</button>
			</form>

			<br>		

			<div th:if="${executor.getRole().toString() == 'ROLE_SUPERADMIN'}">
				
				<div>
					<a th:href="@{/profile/edit_user_rights/{username}(username = ${userEditingForm.getUsername()})}">
						<button class="btn btn-primary">Edit User Rights</button>
					</a>
				</div>

				<br>	

			</div>

			<div>
				<a th:href="@{/profiles}">
					<button class="btn btn-primary">Other Users</button>
				</a>
			</div>

			<br>

			<div>
				<a th:href="@{/myprofile}">
					<button class="btn btn-primary">My Profile</button>
				</a>
			</div>
		</div>
	</body>
</html>