<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">MySite</a>
		    </div>

		    <div class="d-flex justify-content-end">
		    	 <div class="collapse navbar-collapse">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/registration}">
								<button class="btn btn-success" type="button">Sign Up</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/login}"> 
								 <button class="btn btn-success" type="button">Login</button>
							</a>
						</li>
					</ul>
			    </div>
		    </div>
		  </div>
		</nav> 

		<div class="container">
			<h1>About Me</h1>

			<p>
				Hi! My name is Victor. I am a novice programmer and this is my first website. When creating it, I used technologies such as: Java, Maven, Spring Framework, PostgreSQL, Bootstrap. I am very happy with my first project! I really love to develop and I want to continue to learn new things and create new projects!
			</p>

			<hr>

			<h2>My Contacts</h2>

			<p>
				<b>Email: </b><i>windy.wizard@mail.ru</i>
			</p>

			<p>
				<b>GitHub: </b><a class="link-info fst-italic" href="https://github.com/WindyWizard" target="_blank">https://github.com/WindyWizard</a>
			</p>

			<p>
				<b>Telegram: </b><a class="link-info fst-italic" href="https://t.me/MintHoney" target="_blank">https://t.me/MintHoney</a>
			</p>
		</div>
	</body>
</html>