<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>News</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/allnews.css}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">MySite</a>
		    </div>

		    <div class="d-flex justify-content-end">
		    	 <div class="collapse navbar-collapse">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/myprofile}"> 
								 <button class="btn btn-success" type="button">My Page</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profiles}"> 
								 <button class="btn btn-success" type="button">Users</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/posts/create}"> 
								 <button class="btn btn-primary" type="button">New Post</button>
							</a>
						</li>
					</ul>
			    </div>
		    </div>
		  </div>
		</nav> 

		<div class="container">
			<h1>News</h1>

			<div th:each="post : ${posts}">
				<h2>
					<a class="link-dark" th:href="@{/posts/selected/{title}(title = ${post.getTitle()})}" th:text="${post.getTitle()}">
						
					</a>
				</h2>

				<div>
					<img th:src="@{'/img/' + ${post.getImage()}}">
				</div>

				<p nl2br:text="${post.getContent().substring(0, 1000) + '...'}"></p>

				<br>
			</div>
		</div>
	</body>
</html>