<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Selected Post</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" th:href="@{/}">MySite</a>
		    </div>

		    <div class="d-flex justify-content-end">
		    	 <div class="collapse navbar-collapse">
			    	<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" th:href="@{/posts/all}">
								<button class="btn btn-success" type="button">News</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/myprofile}"> 
								 <button class="btn btn-success" type="button">My Page</button>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/profiles}"> 
								 <button class="btn btn-success" type="button">Users</button>
							</a>
						</li>
					</ul>
			    </div>
		    </div>
		  </div>
		</nav>
		
		<div class="container">
			<h1>Selected Post</h1>

			<br>

			<h2 th:text="${post.getTitle()}"></h2>
			<br>
			<div>
				<p>
					Author:
					<a th:if="${post.getAuthor() == executor}" 
					class="link-dark" th:href="@{/myprofile}"
					th:text="${post.getAuthor()}">
					</a>
					<a th:if="${post.getAuthor() != executor}"
						class="link-dark" th:href="@{/profile/{username}(username = ${post.getAuthor()})}" 	th:text="${post.getAuthor()}">
					</a> 
				</p>
			</div>
			<br>

				<div>
					<img th:src="@{'/img/' + ${post.getImage()}}" width="50%">
				</div>

				<br>
			<p nl2br:text="${post.getContent()}"></p>

			<br>

			<h2>Comments</h2>

			<div th:each="comment : ${post.getComments()}">
				<p th:if="${comment.getAuthor() == executor}">
					<a class="link-dark" th:href="@{/myprofile}"
					th:text="${comment.getAuthor()}"></a>
				</p>
				<p th:if="${comment.getAuthor() != executor}">
					<a class="link-dark" th:href="@{/profile/{username}(username = ${comment.getAuthor()})}" th:text="${comment.getAuthor()}"></a>
				</p>
				<p th:text="${comment.getComment()}"></p>
				<p class="fw-bold">***</p>
				<br>
			</div>

			<form method="post" th:action="@{/posts/{title}/comment(title = ${post.getTitle()})}">
				<label for="comment">New Comment</label>
				<textarea rows="3" class="form-control" type="text" name="comment" id="comment"></textarea>
				<br>

				<button class="btn btn-success" type="success">Add</button>
			</form>

			<br>

			<div th:if="${executor.equals(post.getAuthor())}">
				<a th:href="@{/posts/edit/{title}(title = ${post.getTitle()})}">
					<button class="btn btn-primary">Edit Post</button>
				</a>
			</div>

			<br th:if="${executor.equals(post.getAuthor())}">

			<div>
				<a th:href="@{/posts/all}">
					<button class="btn btn-primary">All Posts</button>
				</a>
			</div>

			<br>

			<div>
				<a th:href="@{/myprofile}">
					<button class="btn btn-primary">My Profile</button>
				</a>
			</div>
		</div>
	</body>
</html>