<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Success</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
	</head>

	<body>
		<div class="container">
			<h1>Operation completed successfully!</h1>

			<br>

			<div>
				<a th:href="@{/myprofile}">
					<button class="btn btn-primary">My Profile</button>
				</a>
			</div>

			<br>

			<div>
				<a th:href="@{/home}">
					<button class="btn btn-primary">Back Home</button>
				</a>
			</div>
		</div>
	</body>
</html>